<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Steam Deck Guide">
<meta property="og:description" content="Information and guides about the Steam Deck and available modifications. This project isn't associated with Valve and modifying your device may void your warranty.">
<meta property="og:image" content="https://main.steamdeck.guide/Hardware/Images/Prototypes/Valve_Prototypes_1.jpg">
<meta property="og:url" content="https://main.steamdeck.guide">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Steam Deck Guide">
<meta name="twitter:description" content="Information and guides about the Steam Deck and available modifications. This project isn't associated with Valve and modifying your device may void your warranty.">
<meta name="twitter:image" content="https://main.steamdeck.guide/Hardware/Images/Prototypes/Valve_Prototypes_1.jpg">